@font-face {
  font-family: 'Avenir Next';
  font-weight: 500;
  font-style: normal;
  src: url('assets/fonts/avenir-next/AvenirNext-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'Avenir Next';
  font-weight: 600;
  font-style: normal;
  src: url('assets/fonts/avenir-next/AvenirNext-Semi-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Avenir Next';
  font-weight: 700;
  font-style: normal;
  src: url('assets/fonts/avenir-next/AvenirNext-Bold.ttf') format('truetype');
}

body {
  margin: 0;
  width: 100%;
  height: 100%;
  font-family: 'Avenir Next', Avenir, -apple-system, BlinkMacSystemFont,
    'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
    'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
